<div class="image">
  <mat-toolbar color="primary" >
    <div class ="center">MENU </div>

    <div class="topright">ผู้ใช้งาน<br>{{profiles.prefix.prefix}}{{profiles.name}}</div>

  </mat-toolbar>

<mat-toolbar color="primary" >
    <div >
      <span>
      

            <button mat-raised-button color="warn"
            type="button" routerLink="/order" type="button">สั่งซื้ออาหาร</button>&nbsp;

            <button mat-raised-button color="warn"
            type="button" routerLink="/business-register" type="button">สม้ครเป็นเจ้าของร้านค้า</button>&nbsp;

            <button mat-raised-button color="warn"
            type="button" routerLink="/add-store" type="button" (click)="checkbusiness()">เพิ่มร้านค้า</button>&nbsp;

            <button mat-raised-button color="warn"
            type="button" routerLink="/makefood-list" type="button">สูตรอาหาร</button>&nbsp;

            <button mat-raised-button color="warn"
            type="button" routerLink="/show-report-problem" type="button">แจ้งปัญหาร้องเรียน</button>&nbsp;

            <button mat-raised-button color="warn"
            type="button" routerLink="/promotion" type="button">เพิ่มโปรโมชั่น</button>&nbsp;

            <button mat-raised-button color="warn"
            type="button" routerLink="/shop-advertise" type="button">สมัครโฆษณาร้านค้า</button>&nbsp;
            type="button" routerLink="/reviewfood" type="button">รีวิวอาหาร</button>&nbsp;

            <button mat-raised-button color="warn"
            type="button" routerLink="/login" type="button" (click) = "Logout()">ออกจากระบบ</button>&nbsp;

            <button mat-raised-button color="warn"
            type="button" routerLink="/generate" type="button">ระบบสร้างรหัสส่วนลด</button>&nbsp;

            <button mat-raised-button color="warn"
            type="button" routerLink="/login" type="button" (click) = "Logout()">ออกจากระบบ</button>&nbsp;

      </span>
    </div>
</mat-toolbar>
<br><br><br><br><br><br><br>

    <div class="container">

        <div class="animate one">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;  <span>W</span><span>E</span><span>L</span><span>C</span>
        <span>O</span><span>M</span>&nbsp;<span>T</span><span>O</span>&nbsp;
        <span>W</span><span>O</span><span>N</span><span>G</span><span>N</span>
        <span>A</span><span>I</span>

       </div>


</div>

