<mat-toolbar color="primary" >
  <div class ="center">
    <span>
      ระบบสั่งอาหาร
    </span>
  </div>
</mat-toolbar>

<body>
  <div class="search">
    <mat-grid-list cols="1" rowHeight="15:1">
      <mat-grid-tile>
          <mat-form-field>
              <input matInput placeholder="ค้นหาอาหาร" [(ngModel)]="searchText" >
          </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    
  </div>
    <mat-grid-list cols="4" rowHeight="3:5">
        <mat-grid-tile *ngFor="let food of foods">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{food.name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image width="150px" height="225px" src="{{food.image}}">
                <mat-card-content>
                  <p>ร้าน : {{food.store.name}}</p><br>
                  <p>ชื่ออาหาร : {{food.name}}</p><br>
                  <p>ราคา : {{food.price}}</p><br>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="warn" matBadgePosition="before" matBadgeColor="accent" (click)="sendFoodDetail(food.id)">เลือก</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</body>