<div fxLayout="column" fxLayoutAlign="center center">

  <mat-card>
    <mat-card-header>
      <mat-card-title>เพิ่มร้าน {{storeName}}</mat-card-title>
      <mat-card-subtitle>การกรอกข้อมูลให้ละเอียดและถูกต้องจะทำให้ผู้ใช้งานเว็บคนอื่นๆหาร้านของคุณเจอได้ง่ายขึ้น</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form #addRes="ngForm" (onSubmit)="onSubmit(addRes.value)">
        <h4>ข้อมูลพื้นฐาน</h4>
        <mat-card>
          <mat-form-field>
            <input matInput placeholder="ชื่อร้าน" name="name" ngModel>
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="สาขา" name="branch" ngModel>
          </mat-form-field><br>
          <mat-form-field>
            <mat-select placeholder="ช่วงราคา" name="priceRange" ngModel>
              <mat-option *ngFor="let food of priceRanges" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field><br>
        </mat-card>

        <h4>ที่อยู่</h4>
        <mat-card>
          <mat-form-field>
            <input matInput placeholder="ที่อยู่" name="adddress" ngModel>
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="เส้นทาง" name="hint" ngModel>
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="จังหวัด" name="province" ngModel>
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="เขต/อำเภอ" name="district" ngModel>
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="แขวง/ตำบล" name="subDistrict" ngModel>
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="อาคารสถานที่" name="building" ngModel>
          </mat-form-field><br>
        </mat-card>

        <h4>ข้อมูลติดต่อ</h4>
        <mat-card>
          <mat-form-field>
            <input matInput placeholder="เบอร์ติดต่อ" name="phone" ngModel>
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="อีเมล์" name="email" ngModel>
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="Website" name="website" ngModel>
          </mat-form-field><br>
        </mat-card>

        <h4>ข้อมูลเพิ่มเติม</h4>
        <mat-card>
          <mat-form-field>
            <mat-select placeholder="วันปิดให้บริการ" name="dayOfWeek" [(ngModel)]="dayIdList" multiple>
              <mat-option *ngFor="let day of dayOfWeeks" [value]="day.id">
                {{day.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="เวลาเปิด" name="openTime" ngModel>
              <mat-option *ngFor="let time of times" [value]="time.value">
                {{time.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field><br>
          <mat-form-field>
            <mat-select placeholder="เวลาปิด" name="closeTime" ngModel>
              <mat-option *ngFor="let time of times" [value]="time.value">
                {{time.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="จำนวนที่นั้ง" name="numberOfSeat" ngModel>
              <mat-option *ngFor="let food of numberOfSeat" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field><br>
        </mat-card>

        <h4>รูปภาพ</h4>
        <mat-card>
          เลือกรูปภาพร้าน : <input type="file" (change)="getFile($event)" />
          <div *ngIf="(uploadPercent | async) > 0">อัพโหลดรูป : {{ uploadPercent | async }}</div>

        </mat-card>
        <br><br>
        <button type="submit" (click)="onSubmit(addRes.value)" mat-raised-button color="warn">บันทึก</button><br><br>

      </form>
    </mat-card-content>
  </mat-card>
</div>