
<div class="image">
  
  <mat-toolbar color="primary">
    <div class ="center">
      <span>ระบบรีวิวร้านอาหาร WONGNAI
    </span> </div>
  </mat-toolbar>
 <br><br><br><br><br><br><br><br><br>
      <div class="container">
    
        <div class="animate one">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;  <span>W</span><span>E</span><span>L</span><span>C</span> 
        <span>O</span><span>M</span>&nbsp;<span>T</span><span>O</span>&nbsp;
        <span>W</span><span>O</span><span>N</span><span>G</span><span>N</span>
        <span>A</span><span>I</span>
        
       </div>
       <br>
       <button mat-raised-button color="warn"
       matBadgePosition="before" matBadgeColor="accent" [routerLink]="['/login']">
         เข้าสู้ระบบ
      </button>
  
</div>