<section >
  <button mat-raised-button color="accent" [routerLink]="['/makefood-list']">List </button>
  <h1 >เขียนสูตรอาหาร</h1>
</section>

<form >
<mat-card>
    <mat-card width=50%>
<div class="center">
  <mat-form-field >
    <input placeholder="ชื่ออาหาร"  matInput  [(ngModel)]="foodname" type="string" [ngModelOptions]="{standalone: true}" >
  </mat-form-field>
</div>

  <mat-form-field>
    <mat-select  placeholder=" เมนูอาหาร "  [(ngModel)]="foodtypeid" type="number" [ngModelOptions]="{standalone: true}">
      <mat-option *ngFor="let FoodType of foodtypes" [value]="FoodType.idtype">
        {{FoodType.nametype}}
      </mat-option>
    </mat-select>
  </mat-form-field>&nbsp;

  <mat-form-field>
    <mat-select placeholder=" แบบอาหาร " [(ngModel)]="cookingmethodid" type="number" [ngModelOptions]="{standalone: true}">
      <mat-option *ngFor="let CookingMethod of cookingmethods" [value]="CookingMethod.value">
        {{CookingMethod.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>&nbsp;

  <mat-form-field>
    <mat-select placeholder=" ส่วนประกอบหลัก " [(ngModel)]="mainingredid" type="number" [ngModelOptions]="{standalone: true}">
      <mat-option *ngFor="let  MainIngredients of mainingreds" [value]="MainIngredients.value">
        {{MainIngredients.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>&nbsp;
</mat-card>
<br><br>
  <div>
      <mat-card>
          เลือกรูปภาพอาหาร : 
          <img [src]="url" height="250" > <br/>
          <input type="file" (change)="getFile($event)" />
          <div *ngIf="(uploadPercent | async) > 0">อัพโหลดรูป : {{ uploadPercent | async }}</div>
          
        </mat-card>
  
</div>
<br><br>
<div>
  <mat-card>
  <mat-form-field  class="txtarray">
    <textarea matInput placeholder="วิธีทำ" rows="15" [(ngModel)]="howto" type="string" [ngModelOptions]="{standalone: true}" ></textarea>
  </mat-form-field>
</mat-card>

</div>
<br><br>
<button  mat-raised-button color="primary" (click)= "addRecipe()">Save</button>&nbsp;
<button  mat-raised-button color="warn"  [routerLink]="['/makefood-list']">Cancel</button>
</mat-card>
</form>

<section>




</section>