.center {
  margin: auto;
}

.body {
  background-color: #b8e4f9;
  opacity: 0.95;
  border-radius: 8px;
  width: 800px;
  height: 500px;
  /* border: 25px solid green; */
  padding: 50px;
  margin: auto;
}

.full-width {
  width: 30%;
}

.bgimage {
  height: auto;
  background-size: cover;
  width: auto;
  background-image: url("..\image\welcome3.jpg");
  background-position: 50% 50%;
}

.main {
  background-color: #b8e4f9;
  border-radius: 8px;
  width: 600px;
  height: 300px;
  /* border: 25px solid green; */
  padding: 25px;
  margin: auto;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
