
<mat-card class="layout0">
  <h1>คุณค่าทางอาหารเมนู : {{recipe.name}}</h1>
 <mat-form-field>
  <input placeholder="ปริมาณ(กรัม)"  matInput  [(ngModel)]="amount" type="number" [ngModelOptions]="{standalone: true}" >
</mat-form-field> <br><mat-form-field>
  <input placeholder="พลังงาน(กิโลแคลรอรี่)"  matInput  [(ngModel)]="energy" type="number" [ngModelOptions]="{standalone: true}" >
</mat-form-field>
<br>
<mat-form-field>
  <input placeholder="ไขมัน(กรัม)"  matInput  [(ngModel)]="fat" type="number" [ngModelOptions]="{standalone: true}" >
</mat-form-field>
<br>

<mat-form-field>
  <input placeholder="ทราน(กรัม)"  matInput  [(ngModel)]="saturate" type="number" [ngModelOptions]="{standalone: true}" >
</mat-form-field>
<br>

<mat-form-field>
  <input placeholder="โซเดียม(มิลลิกรัม)"  matInput  [(ngModel)]="sodium" type="number" [ngModelOptions]="{standalone: true}" >
</mat-form-field>

<br>
<mat-form-field>
  <input placeholder="น้ำตาล(กรัม)"  matInput  [(ngModel)]="sugar" type="number" [ngModelOptions]="{standalone: true}" >
</mat-form-field><br>
  <mat-form-field class="layout1">
  <textarea matInput placeholder="ประโยชน์ ข้อระวัง" rows="15"  [(ngModel)]="fooprop" type="string" [ngModelOptions]="{standalone: true}" ></textarea>
  

</mat-form-field><br>


<button  mat-raised-button color="primary" (click)= "AddNutrition()">Save</button>&nbsp;
<button  mat-raised-button color="warn"  [routerLink]="['/makefood-list']">Cancel</button>

</mat-card>
